* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
font-family: Arial, Helvetica, sans-serif;
color: brown;
background-color: coral;
border: 15px;
}

h1 {
color: deeppink;
border: 5px solid black;
padding: 2em black;
text-align: center;
}
button {
  color: aquamarine;
  background-color: black;
}